server:
  port: 8001

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/realtime_call?useSSL=false&serverTimezone=UTC
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  redis:
    host: localhost
    port: 6379

nacos:
  discovery:
    server-addr: localhost:8848