<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nuliyang.mapper.UserMapper">
    <update id="updateUser">
        update user
        <set>
            <if test="newPassword != null">
                password = #{newPassword},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{userId}
    </update>


    <insert id="addFriend" parameterType="com.nuliyang.entity.FriendEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_friend`
            (`user_id`, `friend_id`, `status`, `created_at`)
        VALUES
            (#{userId}, #{friendId}, #{status}, #{createdAt})
    </insert>


    <!-- UserMapper.xml -->
    <select id="getFriendListByUserId" resultType="com.nuliyang.vo.UserVo">
        SELECT
        u.id,
        u.user_name AS userName,      <!-- 显式别名映射 -->
        u.nick_name AS nickName,     <!-- 显式别名映射 -->
        u.email,
        u.phone,
        u.avatar,
        u.status
        FROM user_friend uf
        LEFT JOIN `user` u ON u.id = uf.friend_id
        WHERE uf.user_id = #{userId} or uf.friend_id = #{userId}
        ORDER BY
        u.status DESC,
        u.user_name COLLATE utf8mb4_general_ci ASC  <!-- 修正为 user_name -->
    </select>


    <select id="search" resultType="com.nuliyang.vo.UserVo">
        SELECT
            u.id,
            u.user_name AS userName,
            u.nick_name AS nickName,
            u.email,
            u.phone,
            u.avatar,
            u.status
        FROM `user` u
                 LEFT JOIN user_friend uf ON uf.friend_id = u.id AND uf.user_id = #{userId}
                 LEFT JOIN add_friend af ON af.friend_id = u.id AND af.user_id = #{userId}
        WHERE
            (u.nick_name LIKE CONCAT('%', REPLACE(#{param}, '\\', '\\\\'), '%')
                OR u.user_name LIKE CONCAT('%', REPLACE(#{param}, '\\', '\\\\'), '%')
                OR u.id = #{param})
          AND uf.friend_id IS NULL
          AND af.friend_id IS NULL
          AND u.id != #{userId}
        ORDER BY u.status DESC, u.user_name COLLATE utf8mb4_general_ci ASC

    </select>



    <select id="getUserByNickName" resultType="com.nuliyang.vo.UserVo">
        SELECT
            u.id,
            u.user_name AS userName,      <!-- 显式别名映射 -->
            u.nick_name AS nickName,     <!-- 显式别名映射 -->
            u.email,
            u.phone,
            u.avatar,
            u.is_deleted AS isDeleted,
            u.status AS isOnline
        FROM `user` u
        WHERE nick_name LIKE CONCAT('%', #{nickname}, '%')
        ORDER BY
        isOnline DESC,
        u.user_name COLLATE utf8mb4_general_ci ASC
    </select>


</mapper>
